
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrainfo %}

<form method="POST"> {% csrf_token %}
        <h1 class="hcolor">Add Employee</h1>
        <hr>

        <div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-2">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                              Client Basic Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
              <div class="card-body">
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client ID</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_name|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Name</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_name|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Account Type</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_account_type|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Office Address 1</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_office_address1|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Office Address 2</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_office_address2|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Office Pin</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_office_pin|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Phone</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_phone|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Client Email</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_email|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                               <label class="login2 pull-right pull-right-pro">Type of Dealer</label>
                            </div>
                            <div class="col-lg-9">
                                 {{client_form.client_type_of_dealer|as_crispy_field}}
                            </div>
                    </div>
                </div><br>
              </div>
            </div>
          </div>
        </div>


        <br><div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-3">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                              Client Bank Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
              <div class="card-body">
                <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                            <label class="login2 pull-right pull-right-pro">Client Bank Name</label>
                        </div>
                        <div class="col-lg-9">
                             {{clientBankInfo_Form.client_bank_info_bank_name|as_crispy_field}}
                        </div>
                </div>
            	</div><br>
            <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                            <label class="login2 pull-right pull-right-pro">Client Bank Account Number</label>
                        </div>
                        <div class="col-lg-9">
                             {{clientBankInfo_Form.client_bank_info_account_no|as_crispy_field}}
                        </div>
                </div>
           	 </div><br>
            <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                            <label class="login2 pull-right pull-right-pro">Client Bank Branch</label>
                        </div>
                        <div class="col-lg-9">
                             {{clientBankInfo_Form.client_bank_info_branch|as_crispy_field}}
                        </div>
                </div>
            	</div>
              </div>
            </div>
          </div>
        </div>

        <br><div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-4">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                              Client Accountant Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
              <div class="card-body">
                
                    <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Name</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_name|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Phone</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_phone|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Email</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_email|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Consultant Name</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_counsultant_name|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Consultant Phone</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_counsultant_phone|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Accountant Email</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_accountant_counsultant_email|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client CA Name</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_ca_name|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client CA Email</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_ca_email|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client CA Phone</label>
                            </div>
                            <div class="col-lg-9">
                                 {{clientAccountantInfo_Form.client_acc_info_ca_phone|as_crispy_field}}
                            </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            

         <br>   <div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-5">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                              Client Legal Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
              <div class="card-body">
                  <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client date of Incorporation</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_date_of_incorporation | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client ST File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_st_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client IT File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_it_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client TDS File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_tds_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client VAT File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_vat_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client VAT Audit File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_vat_audit_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Exercise File No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_exercise_file_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client VAT TIN No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_vat_tin_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Date 1</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_date1 | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client CST TIN No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_cst_tin_no | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Date 2</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_date2|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Service Tax No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_service_tax_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Date 3</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_date3|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client ECC No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_ecc_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Date 4</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_date4|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Pancard No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_pancard_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client TDS No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_tds_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Firm Registration</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_firm_registration|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client IEC No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_iec_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Election Card No</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_elect_no|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client PTE 1</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_pte1|as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client PTE 2</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientLegalInfo_Form.client_leg_info_pte2|as_crispy_field}}
                            </div>
                    </div>
                </div>
                    
              </div>
            </div>
          </div>
        </div>


           <br> <div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-6">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                              Client Password Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
              <div class="card-body">
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password VAT</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_password_vat | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password IT</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_password_it | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password TDS</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_passwordclient_password_tds | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password ST</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_password_st | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password Excise</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_password_excise | as_crispy_field}}
                            </div>
                    </div>
                </div>
                <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Password VAT Unique ID</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientPassword_Form.client_password_vat_unique_id | as_crispy_field}}
                            </div>
                    </div>
                </div>
                    
              </div>
            </div>
          </div>
        </div>


            
            
            
            <br>    
        <div id="accordion">
        <div class="card">
                <div class="card-header bg-info" id="heading-7">
                        <h5 class="mb-0" >
                          <a class="collapsed" style="color: white; text-decoration:none" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                              Client Service Info<i class="fa ml-5" style="float: right" aria-hidden="true"></i>
                          </a>
                        </h5>
                      </div>
            <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
                <div class="card-body">
                  <div class="form-group-inner">
                    <div class="row">
                            <div class="col-lg-3">
                                <label class="login2 pull-right pull-right-pro">Client Service ID</label>
                            </div>
                            <div class="col-lg-9">
                                {{clientSevice_Form.client_service_id | as_crispy_field}}
                            </div>
                    </div>
                  </div>  
                    
              </div>
            </div>
          </div>
        </div>

<hr>

<input type="submit" class="btn btn-info" value='save'>
</form>
{% endblock extrainfo %}
