{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrainfo %}
<h3>All Clients</h3>
<br>
<div class="row">
    {% for client in clients  %}
    <div class="card col-md-4" >
            <div class="card-body">
              
                    <p>Client Name   {{client.client_name}}</p>
                    <p>Client Phone   {{client.client_phone}}</p>
                    <p>Client Email   {{client.client_email}}</p>
                    <p>Client AccountType {{client.client_account_type}}</p>
                    <div class="row">
                        <div class="col-md-6"><button class="btn btn-info" onclick="window.location.href='client/{{client.client_id}}/update'">Update</button></div>
                        <div class="col-md-6"><button class="btn btn-danger" onclick="">Delete</button></div>
                </div>
            </div>
          </div>
    {% endfor %}
</div>
{% endblock extrainfo %}
