{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrainfo %}

<form method="POST"> {% csrf_token %}
        <h1 class="hcolor">Add Client</h1>
        <hr>

        {{client_form | crispy}}
        {{clientBankInfo_Form | crispy}}
        {{clientAccountantInfo_Form | crispy}}
        {{clientLegalInfo_Form | crispy}}
        {{clientPassword_Form | crispy}}
        {{clientSevice_Form | crispy}}


<input type="submit" class="btn btn-info" value='save'>
</form>
{% endblock extrainfo %}
