{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrainfo %}

<form method="POST"> {% csrf_token %}
    <h1 class="hcolor"> INVOICE FORM </h1><hr>
    <div class="container">
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">SERVICE TYPE</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_servicetype|as_crispy_field}}
                        </div>
                </div>
        </div><br>
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">ADDRESS</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_address|as_crispy_field}}
                        </div>
                </div>
        </div><br>
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">AMOUNT</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_amount|as_crispy_field}}
                        </div>
                </div>
        </div><br>
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">COMMENTS</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_comments|as_crispy_field}}
                        </div>
                </div>
        </div><br>
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">CLIENT ID</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_clientid|as_crispy_field}}
                        </div>
                </div>
        </div><br>
        <div class="form-group-inner">
                <div class="row">
                        <div class="col-lg-3">
                           <label class="login2 pull-right pull-right-pro">DATE</label>
                        </div>
                        <div class="col-lg-9">
                             {{form.invoice_date|as_crispy_field}}
                        </div>
                </div>
        </div><br>

      
        <input type="submit" class="btn btn-info" value='save'>
            
    </div><br>

</form>

{% endblock extrainfo %}