{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extrainfo %}
<h3>Pending Works</h3>
<br>
<div class="row">
    {% for inward in inwards  %}
    <div class="card col-md-4" >
            <div class="card-body">
                    <p>Client Name   {{inward.inward_client_id.client_name}}</p>
                    <p>Inward Post Type   {{inward.inward_posttype}}</p>
                    <p>Inward Date   {{inward.inward_date}}</p>
                    <p>Inward Month   {{inward.inward_month}}</p>
                    <p>Inward Year   {{inward.inward_year}}</p>
                    <p>Inward Return Period   {{inward.inward_returnperiod}}</p>
                    {% if inward.inward_uploadfilestatus %}
                      <p>Inward Document is uploaded</p>
                    {% else %}
                      <p>Inward Document is not uploaded</p>
                    {% endif %}
                    <button class="btn btn-info" onclick="window.location.href='/inward/{{inward.inward_id}}/show'">Show Inward</button>
              
            </div>
          </div>
    {% endfor %}
        

             
</div>




{% endblock extrainfo %}